* {
    margin: 0;
    padding: 0;
    --text-color: #000;
    --link-background-color: #f5f5f5;
    --link-color: #000;
    --background-color: #fff;
    --text-transform: capitalize;
    --link-font-size: 18px;
    --font-family: Helvetica, sans-serif;
    --margin: 12px;
    --center-text-align: center;
    --padding: 12px 20px;
    --flex-align-items: center;
    --font-weight: bold;
    --line-height: 1.4;
    --subheading-color: #8b0000;
    --flex-margin: 30px 0;
    --border-radius: 8px;
    --border: none;
    --button-background-color: #8b0000;
    --button-text-color: #fff;
    --button-hover-color: #000;


}

body {
    margin: 1.2rem;
    padding: 1.2rem;
    color: var(--text-color);
    line-height: var(--line-height);

}

button {
    background-color: var(--button-background-color);
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--border-radius);
    border: var(--border);
}

button a {
    color: var(--button-text-color);
    font-size: var(--link-font-size);

}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-background-color);
}

#nav-header {
    padding: var(--padding);
    align-items: var(--flex-align-items);
}

#nav-header, #nav-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.list-item {
    font-size: var(--link-font-size);
    background-color: var(--button-background-color);
    padding: 10px 20px;
    margin: var(--margin);
    border-radius: var(--border-radius);
    border: var(--border);
}

.list-item a {
    color: var(--button-text-color);
}

.list-item:hover {
    background-color: var(--link-background-color);
}

.list-item:hover a {
    color: var(--link-color);
}

 a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: var(--text-transform);
    font-weight: var(--font-weight);
}

.subheading {
    text-transform: var(--text-transform);
    text-align: var(--flex-align-items);
    margin: 30px ;
    color: var(--subheading-color);
    font-weight: var(--font-weight);
}


.card {
    background-color: var(--link-background-color);
    padding: var(--padding);
    margin: 40px;
}

.inner-card {
    display: flex;
    justify-content: space-evenly;
    align-items: var(--flex-align-items);
    flex-wrap: wrap;
}

.card-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: var(--padding);
}

.card-info-details {
    margin: var(--flex-margin);
}

.card-info-details p, li {
    padding: 3px;
}


.hero-image {
    max-width: 400px;
}

li{
    list-style-type: none;
}

.expertise {
    font-weight: var(--font-weight);
}


#service-info {
    text-align: var(--flex-align-items);
    margin-bottom: 25px;
}

img {
    border-radius: var(--border-radius);
}

h3 {
    color: var(--subheading-color);
    text-align: left;
    text-transform: var(--text-transform);
}

#services-card {
    display: flex;
    justify-content: space-around;
    align-items: var(--flex-align-items);
    flex-wrap: wrap;
    padding: var(--padding);
    margin: 10px;

}

.service-inner-card {
    display: flex;
    flex-direction: column;

}

.service-card-info-details, .service-image {
    width: 350px;

}

.quote {
    text-align: center;
}
